Source: libyaml-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>,
           Damyan Ivanov <dmn@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 12)
Build-Depends-Indep: libtest-deep-perl <!nocheck>,
                     libtest-yaml-perl <!nocheck>,
                     perl
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libyaml-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libyaml-perl.git
Homepage: https://metacpan.org/release/YAML

Package: libyaml-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends}
Recommends: libyaml-libyaml-perl | libyaml-syck-perl
Suggests: libyaml-shell-perl
Description: YAML Ain't Markup Language
 YAML is a generic data serialization language that is optimized for human
 readability. It can be used to express the data structures of most modern
 programming languages (including Perl, of course). YAML supports Unicode
 and there are implementations of the parser in many different languages,
 making it a rather portable serialization format.
 .
 Please note that the YAML module is currently a deprecated implementation
 in Pure Perl, which is probably slow on your system. The authors intend
 to change it to just be a front-end interface module for various YAML
 implementations. For now, YAML::Any is a module provided for this purpose,
 which simply selects the best YAML implementation available.
